WebContent/wsdl/ExameImplWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webService" xmlns:intf="http://webService" xmlns:tns1="http://models" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models"/>
   <element name="getObjExame">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getObjExameResponse">
    <complexType>
     <sequence>
      <element name="getObjExameReturn" type="tns1:Exame"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Exame">
    <sequence>
     <element name="alergias" nillable="true" type="xsd:string"/>
     <element name="cancer" nillable="true" type="xsd:string"/>
     <element name="diabetes" type="xsd:boolean"/>
     <element name="doenca_cardiaca" type="xsd:boolean"/>
     <element name="doenca_mental" type="xsd:boolean"/>
     <element name="doencas_familiares" nillable="true" type="xsd:string"/>
     <element name="dt_Exame" nillable="true" type="xsd:string"/>
     <element name="epilepsia" type="xsd:boolean"/>
     <element name="hernia" type="xsd:boolean"/>
     <element name="id" type="xsd:long"/>
     <element name="id_Medico" type="xsd:long"/>
     <element name="id_Paciente" type="xsd:long"/>
     <element name="medicamentos" nillable="true" type="xsd:string"/>
     <element name="outras_doencas" nillable="true" type="xsd:string"/>
     <element name="pressao_alta" type="xsd:boolean"/>
     <element name="reumatismo" type="xsd:boolean"/>
     <element name="tp_Sanguineo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getObjExameRequest">

      <wsdl:part element="impl:getObjExame" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getObjExameResponse">

      <wsdl:part element="impl:getObjExameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ExameImplWS">

      <wsdl:operation name="getObjExame">

         <wsdl:input message="impl:getObjExameRequest" name="getObjExameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getObjExameResponse" name="getObjExameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ExameImplWSSoapBinding" type="impl:ExameImplWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getObjExame">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getObjExameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getObjExameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ExameImplWSService">

      <wsdl:port binding="impl:ExameImplWSSoapBinding" name="ExameImplWS">

         <wsdlsoap:address location="http://localhost:8080/ExamesProject/services/ExameImplWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
